<header id="topnav" class="defaultscroll sticky" [class.nav-sticky]="scrolled">
  <div class="container">
    <!-- Logo -->
    <ng-container *ngIf="navLight === 'true'; else elseTemplate">
      <a class="logo" href="#home" (click)="scrollToSection($event, 'home')">
        <span class="logo-light-mode">
          <img src="assets/images/cxc-systemLogo-sf.png" class="l-dark" height="45" alt="">
          <img src="assets/images/cxc-systemLogo-sf.png" class="l-light" height="45" alt="">
        </span>
      </a>
    </ng-container>
    <ng-template #elseTemplate>
      <a class="logo" href="#home" (click)="scrollToSection($event, 'home')">
        <img src="assets/images/cxc-systemLogo-sf.png" height="45" class="logo-light-mode" alt="">
        <img src="assets/images/cxc-systemLogo-sf.png" height="45" class="logo-dark-mode" alt="">
      </a>
    </ng-template>

    <!-- Mobile toggle -->
    <div class="menu-extras">
      <div class="menu-item">
        <a routerLink="#" class="navbar-toggle" [ngClass]="showToggleMenu ? 'open' : ''" id="isToggle" (click)="toggleMenu()">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
      </div>
    </div>

    <!-- Botón login -->
    <div class="buy-button">
      <a href="#home" (click)="scrollToSection($event, 'home')">
        <span class="btn btn-primary d-md-inline-flex d-none" (click)="loginWithRedirect()">Login</span>
        <span class="btn btn-icon btn-primary d-inline-flex d-md-none" (click)="loginWithRedirect()">
          <i data-feather="log-in" class="fea icon-sm"></i>
        </span>
      </a>
    </div>

    <!-- Menú navegación -->
    <div id="navigation" [ngClass]="showToggleMenu ? 'd-block' : 'd-none'">
      <ul class="navigation-menu nav-right" [ngClass]="navLight === 'true' ? 'nav-light' : ''">
        <li [ngClass]="currentHash === '#home' ? 'active' : ''">
          <a href="#home" (click)="scrollToSection($event, 'home')" class="sub-menu-item">Home</a>
        </li>
        <li [ngClass]="currentHash === '#software-features' ? 'active' : ''">
          <a href="#software-features" (click)="scrollToSection($event, 'software-features')">Servicios</a>
        </li>
        <li [ngClass]="currentHash === '#pricing' ? 'active' : ''">
          <a href="#pricing" (click)="scrollToSection($event, 'pricing')">CTO</a>
        </li>
        <li [ngClass]="currentHash === '#gestion-citas' ? 'active' : ''">
          <a href="#gestion-citas" (click)="scrollToSection($event, 'gestion-citas')">Gestión Citas</a>
        </li>
        <li [ngClass]="currentHash === '#contact' ? 'active' : ''">
          <a href="#contact" (click)="scrollToSection($event, 'contact')" class="sub-menu-item">Contacto</a>
        </li>

        <!-- Botón login móvil -->
        <li class="d-md-none w-100 text-center mt-3">
          <button class="btn btn-primary w-75" (click)="loginWithRedirect()">
            <i data-feather="log-in" class="fea icon-sm me-1"></i> Login
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
